.gpt3__brand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center ;
    align-items: center;
    /* margin-left: 6rem; */
}

.gpt3__brand div{
    flex: 1;
    max-width: 150px;
    min-width: 100px;
    display: flex;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}